<div class="value-bar">
  <div class="value">{{fmt-num @value 2}}<span class="unit">{{@unit}}</span></div>
  <div class="title">{{@title}}</div>
  <div class="number-line"></div>
  <div class="marker" style={{markerStyle}}></div>
</div>
