<DisplayArea as |sim|>
  <Panel @title="Panel 1">
    <ValueBar @title="Bus A Load"
              @min={{0}} @max={{1}}
              @value={{sim.simState.b1.currentSensor.i}}
              @unit="A"/>
  </Panel>
  <Panel @title="Panel 2">
    <p>{{sim.simState.b1.isOpen}}</p>
    <button {{on 'click' (fn sim.pulseBool 'b1Close' true)}}>Push</button>
    <button {{on 'click' (fn sim.pulseBool 'b1Open' true)}}>Pull</button>
  </Panel>
</DisplayArea>
